__pycache__/
__pycache__

migrations
migrations/
/migrations/

/settings.py
.settings.py
settings.py
ngohrms/settings.py
/ngohrms/settings.py

ngohrms/local_settings.py
/ngohrms/local_settings.py
/ngohrms/settings_local.py
/staticfiles
/assets/uploads/*

env/
/env/
env/*
venv/
/venv/
venv/*
